[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/ayopa/crosstool-ng.git
[submodule "ncurses"]
	path = ncurses
	url = https://github.com/ayopa/ncurses.git
[submodule "bash"]
	path = bash
	url = git://git.savannah.gnu.org/bash.git
[submodule "wayland"]
	path = wayland
	url = git://anongit.freedesktop.org/wayland/wayland
[submodule "expat"]
	path = expat
	url = https://github.com/ayopa/expat.git
[submodule "libffi"]
	path = libffi
	url = https://github.com/atgreen/libffi.git
[submodule "drm"]
	path = drm
	url = git://anongit.freedesktop.org/git/mesa/drm
[submodule "pthread-stubs"]
	path = pthread-stubs
	url = git://anongit.freedesktop.org/xcb/pthread-stubs
[submodule "libpciaccess"]
	path = libpciaccess
	url = git://anongit.freedesktop.org/xorg/lib/libpciaccess
[submodule "mesa"]
	path = mesa
	url = git://anongit.freedesktop.org/git/mesa/mesa
[submodule "systemd"]
	path = systemd
	url = git://anongit.freedesktop.org/systemd/systemd
[submodule "libcap"]
	path = libcap
	url = git://git.kernel.org/pub/scm/linux/kernel/git/morgan/libcap.git
[submodule "attr"]
	path = attr
	url = git://git.savannah.nongnu.org/attr.git
[submodule "gettext"]
	path = gettext
	url = git://git.savannah.gnu.org/gettext.git
