[submodule "crosstool-ng"]
	path = crosstool-ng
	url = https://github.com/ayopa/crosstool-ng.git
[submodule "ncurses"]
	path = ncurses
	url = https://github.com/ayopa/ncurses.git
[submodule "bash"]
	path = bash
	url = git://git.savannah.gnu.org/bash.git
[submodule "wayland"]
	path = wayland
	url = git://anongit.freedesktop.org/wayland/wayland
[submodule "expat"]
	path = expat
	url = https://github.com/ayopa/expat.git
[submodule "libffi"]
	path = libffi
	url = https://github.com/atgreen/libffi.git
